main {
  margin: 0 auto;
}

main section {
  float: left;
  padding: 0 .7em 2em;
}

article {
  clear: both;
}

nav.heading {
  margin-bottom: 1.2em;
}

.navbar-brand {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.7rem;
}

.nav-item {
  position: absolute;
  top: 11px;
  right: 14px;
}

.card {
  margin-bottom: .7em;
  z-index: 1;
}

.card-body {
  padding: 1.3em 1.6em .8em;
}
