main {
  margin: 0 auto;
}

main section {
  width: 33%;
  float: left;
  padding: 0 1em 2em;
}

nav.heading {
  margin-bottom: 1.2em;
}

article {
  clear: both;
}

.md-form {
  margin-bottom: 1rem;
}

.navbar-brand {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.7rem;
}

.card {
  margin-bottom: .7em;
}

.card .navbar {
  color: #fff;
}

.card-chart {
  padding: .4em;
  margin: .3em .7em;
}

.card-body {
  padding: 1.3em 1.6em .8em;
}

.card-remove {
  position: absolute;
  right: 20px;
  top: 7px;
}

.card-remove i {
  color: #333;
}

.card-body h4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card-body i {
  padding-top: .3em;
}

.card-text {
  font-size: .9rem;
  color: #747373;
}

.tasks-container {
  width: 100%;
  margin-top: .7em;
}

.tasks-container .card {
  width: calc(24.4% - .5em);
  display: inline-block;
  margin: .5em;
}
